extends layout

block prepend title
  | #{profile.username} is a

block body
  h1= profile.username
    if profile.isYou
      span.you that’s you!

  .tabs
    .tab: a(href="/#{profile.username}") history
    if profile.isYou
      .tab: a(href="/#{profile.username}/paases") paases
    .tab: a(href="/#{profile.username}/apps") apps

  h2 Deployment History
  if history && history.length
    each deployment in history
      p= deployment
  else
    p No deployments. D:
